%h1= link_to @bookmark.url

- if policy(@bookmark).edit?
  = link_to "Edit", edit_topic_bookmark_path(@bookmark), class: 'btn btn-success'

  = render partial: 'likes/like', local: { bookmark: @bookmark }
