%h1 Jamarks

  
- @topics.each do |topic|
  %p= link_to topic.title, topic


  = link_to "Delete", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' }


  = render partial: 'likes/like', locals: { bookmark: @bookmark }