<div class="container">
  <h1>My Bookmarks</h1>

      <% @user_bookmarks.group_by(&:topic).each do |topic, bookmarks| %>     
        <%= render partial: 'users/topic', locals: {topic: topic, bookmarks: bookmarks} %>
      <% end %>

  <h1>Liked Bookmarks</h1>

    <% @liked_bookmarks.group_by(&:topic).each do |topic, bookmarks| %>     
      <%= render partial: 'users/topic', locals: {topic: topic, bookmarks: bookmarks} %>
    <% end %>



</div>

