<h1>About Jamarks</h1></br>
<p class="about">Jamarks was re-created by Jamaleh Gyulay with the help of her mentor from <%= link_to "Bloc", "https://www.bloc.io" %>.</br>

It is a fun resource to collect and share favorite websites with friends.</br> 
With Jamarks you are able to view what others have bookmarked, </br>
save your "liked" bookmarks and ones that you have added yourself!</p></br>

<%= link_to "Follow me", "https://www.facebook.com/jamalehreneau", class: "social-btn" %> </br>


